/*
Theme Name: BareBones
Description: Used to style the TinyMCE editor.
*/

html .mceContentBody {
  max-width: 840px;
}

* {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  float: none !important; /* STOP ALL IMAGES FROM WRAPPING TEXT */
}

body {
  font-size: 15px;
  line-height: 1.5;
  color: #333333;
  background-color: #ffffff;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
p {
  clear: both;
  margin: 0 20px 20px 0;
  font-size: 16px;
  line-height: 1.5;
}
p small {
  font-size: 11px;
  color: #999999;
}
div { 
  margin: 0 0 18px; 
  clear: both;
}
.lead {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333; 
  font-weight: bold;
  margin: 0 0 10px 0;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
}
h1 {
  font-size: 38px;
  line-height: 42px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 30px;
  line-height: 34px;
}
h2 small {
  font-size: 18px;
}
h3 {
  font-size: 26px;
  line-height: 30px;
}
h3 small {
  font-size: 14px;
}
h4, h5, h6 {
  line-height: 1;
}
h4 {
  font-size: 22px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
  color: #999999;
}
.page-header {
  padding-bottom: 17px;
  margin: 18px 0;
  border-bottom: 1px solid #eeeeee;
}
.page-header h1 {
  line-height: 1;
}
table {
  margin: 20px 0; 
  width: 100%;
}
tr th,
tr td {
  border: 1px dotted #999; 
  padding: 6px 16px;
  font-size: 14px;
}
ul, ol {
  padding: 0 0 0 35px;
  margin: 0 0 10px 20px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 1.5;
  margin-bottom: 10px;
}
ul.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 18px;
}
dt, dd {
  line-height: 1.5;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 9px;
}
hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.muted {
  color: #999999;
}
abbr {
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 1px dotted #ddd;
  cursor: help;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-weight: 700;
}
blockquote small {
  display: block;
  line-height: 18px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-left: 0;
  padding-right: 15px;
  border-left: 0;
  border-right: 5px solid #eeeeee;
}
blockquote.pull-right p, blockquote.pull-right small {
  text-align: right;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 18px;
  line-height: 18px;
  font-style: normal;
}
small {
  font-size: smaller
}
cite {
  font-style: normal;
}
code, pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 14px;
  color: #333333;
  border-radius: 3px;
  line-height: 1.4;
}
code {
  padding: 3px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 14px;
  line-height: 1.4;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
}
pre.prettyprint {
  margin-bottom: 18px;
}
pre code {
  padding: 0;
  background-color: transparent;
}
img {
  margin: 0;
  max-width: 100%;
  height: auto;
}
img.size-auto,
img.size-large,
img.size-full,
img.size-medium {
  max-width: 100%;
  height: auto;
}
.alignleft,
img.alignleft {
  display: block;
  margin: 10px 30px 10px 0;
}
.alignright,
img.alignright {
  display: block;
  margin: 10px 0 10px 30px;
}
.aligncenter,
img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
  margin: 12px 0;
}
.wp-caption .wp-caption-text,
.wp-caption-dd {
  background: #f1f1f1;
  border: none;
  border-radius: 0;
  color: #888;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
  max-width: 632px !important; /* prevent too-wide images from breaking layout */
  padding: 4px;
  text-align: left;
}
.wp-caption img {
  margin: 5px;
}
.wp-caption p.wp-caption-text {
  margin: 0 0 4px;
}