/*----------------------------------------------------------------*\
Stylesheet: 481 AND UP
\*----------------------------------------------------------------*/

@media only screen and (min-width: 481px) {
/******************************************************************/

/*----------------------------------------------------------------*\
    $BODY + CORE STYLES
\*----------------------------------------------------------------*/






/*----------------------------------------------------------------*\
    $TYPOGRAPHY & LINKS
\*----------------------------------------------------------------*/





/*----------------------------------------------------------------*\
    $PAGE LAYOUT
\*----------------------------------------------------------------*/



/*----------------------------------------------------------------*\
    $NAVIGATION
\*----------------------------------------------------------------*/

.main-nav {

}
.main-nav ul {

}
.main-nav ul li {

}
.main-nav ul li a {

}






/*----------------------------------------------------------------*\
    $GLOBAL ELEMENTS / STYLES
\*----------------------------------------------------------------*/

.entry-content .alignleft,
.entry-content img.alignleft {
  display: inline;
  float: left;
  margin: 8px 20px 12px 0;
}
.entry-content .alignright,
.entry-content img.alignright {
  display: inline;
  float: right;
  margin: 8px 0 12px 20px;
}
.entry-content .aligncenter,
.entry-content img.aligncenter {
  clear: both;
  display: block;
  margin: 8px auto 12px auto;
}
.entry-content video,
.entry-content object {
  max-width: 100%;
  height: auto;
}





/*----------------------------------------------------------------*\
    $HEADER
\*----------------------------------------------------------------*/






/*----------------------------------------------------------------*\
    $SIDEBAR STYLES
\*----------------------------------------------------------------*/






/*----------------------------------------------------------------*\
    $HOME PAGE
\*----------------------------------------------------------------*/






/*----------------------------------------------------------------*\
    $INTERIOR PAGES
\*----------------------------------------------------------------*/






/*----------------------------------------------------------------*\
    $FOOTER
\*----------------------------------------------------------------*/



} /* END 481 AND UP */

@media only screen and (min-width: 600px) {
  .isotope-port .item,.grid-sizer-port {
    width: 50% ;
    height: 300px;
  }
}
