
@media only screen and (min-width: 768px) {
/******************************************************************/

/*----------------------------------------------------------------*\
    $BODY + CORE STYLES
\*----------------------------------------------------------------*/






/*----------------------------------------------------------------*\
    $TYPOGRAPHY & LINKS
\*----------------------------------------------------------------*/






/*----------------------------------------------------------------*\
    $PAGE LAYOUT
\*----------------------------------------------------------------*/

.parallax-wrap {
  display: block;
}







/*----------------------------------------------------------------*\
    $GLOBAL ELEMENTS / STYLES
\*----------------------------------------------------------------*/







/*----------------------------------------------------------------*\
    $HEADER
\*----------------------------------------------------------------*/







/*----------------------------------------------------------------*\
    $SIDEBAR STYLES
\*----------------------------------------------------------------*/







/*----------------------------------------------------------------*\
    $HOME PAGE
\*----------------------------------------------------------------*/
.item.width2 {
  width: 40%;
}

.mobile-grid {
  display: none;
}

.page-template-pg-home .isotope {
  display: block;
}

.slide-title {
    font-size: 3.5rem;
}

.slide-text {
  font-size: 1.5rem;
    line-height: 38px;
}

.slider-block {
  margin: 60px auto;
}


/*----------------------------------------------------------------*\
    $INTERIOR PAGES
\*----------------------------------------------------------------*/

/*Blog Listing*/
.post-date {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  margin-right: 20px;
  padding-top: 8px;
  overflow: hidden;
  margin-top: 0;
}


.post-date:after {
  content: "";
  margin-left: 0;
}

.day {
  margin-right: 0;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1;
  text-align: center;
  display: block;
  color : #999;
}

.month-year {
  font-size: 16px;
  display: block;
  text-align: center;
  color : #999;
}

.page-template-pg-bloghome-php  .post-meta, .archive .post-meta {
  font-size: 10px;
line-height: 18px;
text-align: center;
margin-bottom: 0px;
padding-top: 15px;
margin-right: 0;
float: none;
clear: both;
}


.page-template-pg-bloghome-php  .post-meta a, .archive .post-meta a {
margin-right: 0;
display: inline-block;
}

.page-template-pg-bloghome-php  .post-meta a:after, .archive .post-meta a:after {
  content: "";
  margin-left: 0;
}

.category-list {
  padding-top: 0;
}

/*End Blog Listing*/




/*----------------------------------------------------------------*\
    $FOOTER
\*----------------------------------------------------------------*/







} /* END 768 AND UP
