/*----------------------------------------------------------------
Stylesheet: 992 AND UP*/
/*----------------------------------------------------------------*/

@media only screen and (min-width: 992px) {
/******************************************************************/

/*----------------------------------------------------------------*\
    $BODY + CORE STYLES
\*----------------------------------------------------------------*/






/*----------------------------------------------------------------*\
    $TYPOGRAPHY & LINKS
\*----------------------------------------------------------------*/






/*----------------------------------------------------------------*\
    $PAGE LAYOUT
\*----------------------------------------------------------------*/







/*----------------------------------------------------------------*\
    $NAVIGATION
\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
    $NAVIGATION
\*----------------------------------------------------------------*/

.mobile-menu-button {
  display: none;
  float: right;
}

.nav-main {
  display: block;
  position: absolute;
  height: 40px;
  top: 0;
  width: 100%;
  max-width: 1140px;
}
.nav-main > ul {
  background-color: transparent;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
  .nav-main > ul > li {
    float: left;
    margin: 0;
    position: relative;
    margin-left: 15px;
  }
  .nav-main  ul  li > a {
    color: #000000;
    display: block;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    margin: 0;
    padding: 29px;
    text-transform: uppercase;
  }
  .nav-main > ul > li > a:hover {
    color: #999999;
  }
  .nav-main > ul > .current_page_item > a,
  .nav-main > ul > .current_page_parent > a,
  .nav-main > ul > .current_page_ancestor > a {
    color: #43101E;
  }

 .nav-main > ul > li.parent-menu-item:after {
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.1) transparent transparent;
    border-image: none;
    border-right: 5px solid transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    height: 0;
    margin-top: -3px;
    position: absolute;
    right: -0.5em;
    top: 50%;
    width: 0;
  }


/*>== main nav - drop down styles ==================================== */
.nav-main ul .parent_menu_item:hover > a {
/* insert styling to show active parent menu item */
}
.nav-main > ul > li:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
  z-index: 101;
}

.nav-main ul ul {
  background: #fff;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 70px;
  min-width: 180px;
  padding: 0;
  transition: all 0.25s linear;
  z-index: 20;
  border: 1px solid #dcdcdc;
}

.nav-main > ul > li > ul  {
    visibility: hidden;
}

.nav-main ul ul li {
  float: none;
  position: relative;
}

.nav-main ul ul li.parent-menu-item::after {
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color:  transparent rgba(0, 0, 0, 0.1) transparent;
    border-image: none;
    border-right: 5px solid transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    height: 0;
    margin-top: -5px;
    position: absolute;
    right: 3px;
    top: 50%;
    width: 0;
}

  .nav-main ul ul li:hover {
  background: #f3f3f3;
  }

.nav-main ul ul li a {
  font-size: 12px;
  font-size: 0.75rem;
  padding: 10px 16px;
  width: 100%;
  display: inline-block;
  transition: none;
  border-bottom: 1px dashed #dcdcdc;
}

.nav-main ul ul li:last-of-type a {
  border-bottom: none;
}

.nav-main ul ul li a:hover,
.nav-main ul ul .current_page_item > a,
.nav-main ul ul .current_page_parent > a,
.nav-main ul ul .current_page_ancestor > a {
  color: #666666;
}

/*Third Level Navigation*/
.nav-main ul ul li > ul {
  /*visibility: hidden;*/
    left: 100%;
    top: 0;
    margin-top: -1px;
}

.nav-main ul ul li:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 100;
}





/*----------------------------------------------------------------*\
    $GLOBAL ELEMENTS / STYLES
\*----------------------------------------------------------------*/




.isotope-port .item,.grid-sizer-port {
  width: 33% ;
  height: 300px;
}

.item .overlay span.isotope-port-title {
  font-size: 30px;

}

.item:hover .overlay span.isotope-port-title {
  font-size: 30px;
}


/*----------------------------------------------------------------*\
    $HEADER
\*----------------------------------------------------------------*/







/*----------------------------------------------------------------*\
    $SIDEBAR STYLES
\*----------------------------------------------------------------*/







/*----------------------------------------------------------------*\
    $HOME PAGE
\*----------------------------------------------------------------*/
.cta p {
  height: 117px;
}

.cta p a {
  position: absolute;
  bottom: 0;
}





/*----------------------------------------------------------------*\
    $INTERIOR PAGES
\*----------------------------------------------------------------*/

/*Blog Listing*/
.post-date {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}

.day {
  font-size: 24px;
  font-size: 1.5rem;
}

.month-year {
  font-size: 14px;
}
/*End Blog Listing*/






/*----------------------------------------------------------------*\
    $FOOTER
\*----------------------------------------------------------------*/

.lower-footer .col-md-6 {
  text-align: left;
}

.lower-footer .col-md-6:nth-of-type(2) {
  text-align: right;
}





} /* END 1030 AND UP
