/*----------------------------------------------------------------*\
Stylesheet: Base Stylesheet
\*----------------------------------------------------------------*/

/*
--------------- MAP --------------------
01. BODY + CORE STYLES
02. TYPOGRAPHY & LINKS
03. PAGE LAYOUT
04. NAVIGATION
05. GLOBAL ELEMENTS
06. HEADER
07. SIDEBAR(S)
08. HOME PAGE
09. INTERIOR PAGES
10. FOOTER
11. POST & WP GENERATED STYLING
----------------------------------------
*/

/*----------------------------------------------------------------*\
    $BODY + CORE STYLES
\*----------------------------------------------------------------*/

*, *:after, *:before { -moz-box-sizing: border-box; box-sizing: border-box; }

html {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden !important;
  height: 100%;
}


body {
  /*height: 100%;*/
  background: #fff;
  color: #124a45;
  font-family: 'Raleway', Arial, sans-serif;

}

/*>== headings ======================= */
h1, .alpha, h2, .beta, h3, .gamma, h4, .delta, h5, .epsilon, h6, .zeta { font-weight: 400; }
  h1 a, .alpha a, h2 a, .beta a, h3 a, .gamma a, h4 a, .delta a, h5 a, .epsilon a, h6 a, .delta a { text-decoration: none; }
h1, .alpha { font-size: 56px; font-size: 3.5rem; line-height: 1; margin: 0 0 1rem 0; padding: 0; color: #124a45; font-weight: 200;}
h2, .beta { font-size: 40px; font-size: 2.500rem; line-height: 1.125; margin: 0 0 1.125rem 0; padding: 0; color: #124a45; font-weight: 300; }
h3, .gamma { font-size: 35px; font-size: 2.188rem; line-height: 1.143; margin: 0 0 1.143rem 0; padding: 0; color: #124a45; font-weight: 300;}
h4, .delta { font-size: 32px; font-size: 2rem; line-height: 1.167; margin: 0 0 1.167rem 0; padding: 0; color: #124a45; font-weight: 300; }
h5, .epsilon { font-size: 18px; font-size: 1.125rem; line-height: 1.200; margin: 0 0 1.200rem 0; padding: 0; color: #124a45; font-weight: 700; }
h6, .zeta { font-size: 20px; font-size: 1.250rem; line-height: 1.250; margin: 0 0 1.250rem 0; padding: 0; color: #124a45; }



/*>== style helpers ===================== */
.alignleft { display: block; float: left; }
.alignright { display: block; float: right; }
.aligncenter { text-align: center; }

.textblock { overflow: hidden; width: auto; }
.responsive-img { display: block; max-width: 100%; height: auto; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 10px 0; padding: 0; clear: both; }
.hr { background-color: #ccc; height: 1px; margin: 10px 0; clear: both; }






/*----------------------------------------------------------------*\
    $TYPOGRAPHY & LINKS
\*----------------------------------------------------------------*/

@font-face {
    font-family: 'icomoon';

    src:
        url('../fonts/icomoon.ttf?5shk1a') format('truetype'),
        url('../fonts/icomoon.woff?5shk1a') format('woff'),
        url('../fonts/icomoon.svg?5shk1a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-marketing-strategy:before {
    content: "\e907";
}
.icon-content-marketing2:before {
    content: "\e915";
}
.icon-public-relations:before {
    content: "\e916";
}
.icon-email-marketing2:before {
    content: "\e914";
}
.icon-instagram:before {
    content: "\e912";
}
.icon-linkedin:before {
    content: "\e913";
}
.icon-websites:before {
    content: "\e911";
}
.icon-google-plus:before {
    content: "\e904";
}
.icon-facebook:before {
    content: "\e905";
}
.icon-twitter:before {
    content: "\e906";
}
.icon-ribbon:before {
    content: "\e903";
}
.icon-menu:before {
    content: "\e901";
}
.icon-arrow-right:before {
    content: "\e900";
}
.icon-arrow-left:before {
    content: "\e902";
}
.icon-press:before {
    content: "\e600";
}
.icon-roe:before {
    content: "\e601";
}
.icon-social:before {
    content: "\e602";
}
.icon-seo:before {
    content: "\e603";
}


i {
  font-style: normal;
}


/*>== links ============================ */
a, a:visited {
  color: #F26325;
  text-decoration: none;
  cursor: pointer;
  transition: all 133ms ease-in;
}

	a:hover, a:focus, a:visited:hover, a:visited:focus { color: #ed7947; }
	a:link, a:visited:link { -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }



/*>== typography ============================ */
p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.8;
  margin: 0 0 1.25rem 0;
  padding: 0;
}
  /*p*/.featured-text {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 1.25rem;
    line-height: 1.375;
    color: #ffcc00;
    font-weight: 700;
  }

blockquote {
  margin: 25px 0 50px 0;
  padding: 20px;
  position: relative;
  background: #222;
}
  blockquote p {
    color: #fff;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
  blockquote p:last-child {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-indent: -15px;
    padding: 10px 0 0 18px !important;
  }

blockquote:after {
 content: "";
position: absolute !important;
bottom: -24px;
z-index: 100;
border-width: 0px 0px 24px 24px;
border-style: solid;
border-color: #222 #222 transparent;
width: 100%;
left: 0px;
}

  blockquote p:last-child:before {
    content: "\2014";
    padding-right: 0.5em;
  }
  .lt-ie9 blockquote p + p {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 0;
    text-transform: uppercase;
  }
		.lt-ie9 blockquote p + p:before {
      content: "\2014";
      padding-right: 0.5em;
    }

/* (OPT) STYLED QUOTES AROUND MAIN TEXT OF QUOTE (first p tag) */
/*
  blockquote:before{ content: "\201C"; color: #999d5d; font-size:32px; position: absolute; top: -10px; left: -10px; font-weight: 700; }
  blockquote :first-child:after { color: #999d5d; content: "\201D"; font-size: 32px; line-height: 20px; vertical-align: bottom; }
*/





/*----------------------------------------------------------------*\
    $PAGE LAYOUT
\*----------------------------------------------------------------*/

.container {

}

.main-content {
    overflow-x: hidden !important;
  position: relative;
  margin-top: 66px;
}

.inner-content {
  min-height: 400px;
  overflow-x: hidden !important;
}





/*----------------------------------------------------------------*\
    $NAVIGATION
\*----------------------------------------------------------------*/

#mobile-menu:not( .mm-menu ) {
   display: none;
}

.nav-main {
  display: none;
}

.mobile-menu-button {
  display: block;
  float: right;
  margin-right: 10px;
  margin-top: 21px;
}

.mobile-menu-button span {
display: inline-block;
vertical-align: top;
}

.mobile-menu-button .icon-menu {
  font-size: 24px;
  margin-right: 6px;
}




/*----------------------------------------------------------------*\
    $GLOBAL ELEMENTS / STYLES
\*----------------------------------------------------------------*/

.divider {
  margin: 10px 0px 40px;
  text-align: center;
  border-bottom: 1px solid #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-color: #000;
  border-color: rgba(0, 0, 0, 0.15);
  height: 12px;
}

.divider h5 {
  line-height: 20px ;
}

.divider span {
  background: none repeat scroll 0 0 #333;
  padding: 5px 10px;
  color: #FFF;
  height: 12px;
  margin-bottom: -10px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


/*>== images ==================== */
.entry-content img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*== Videos =====================*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 25px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*>== lists ==================== */
.entry-content ul {
  list-style-type: none;
  margin: 18px 0 18px 0;
  padding: 0;
}
  .entry-content ul li {
    margin: 0;
    padding: 0 0 5px 16px;
    position: relative;
  }
  .entry-content ul li:before {
    border-radius: 3px;
    background: #177ead;
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    left: 0;
    top: 0.5em;
  }

/* if colour ol's are desired */
.entry-content ol {
  counter-reset: item;
  margin: 18px 0 18px 78px;
  padding: 0;
}
  .entry-content ol > li {
    display: block;
    padding: 0 0 4px 0;
    position: relative;
  }
  .entry-content ol > li:before {
    content: counter(item);
    counter-increment: item;
    color: #177ead;
    font-weight: 700;
    position: absolute;
    top: 0px;
    left: -30px;
    width: 18px;
    text-align: right;
  }




/*>== forms ========================= */
fieldset { border: none; }

/* (OPT) FORM PLACEHOLDER STYLING
  ::-webkit-input-placeholder { color: #fff; font-style: italic; }
  ::-moz-placeholder { color: #fff; opacity: 1; font-style: italic; }
  :-ms-input-placeholder { color: #fff; font-style: italic; }
*/


.entry-content .gform_wrapper ul li {
  padding: 0;
  margin-bottom: 10px;
}

.entry-content .gform_wrapper .top_label .gfield_label {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 0;
}

body .gform_wrapper .gform_footer input.button {
  background: #f26122;
    border: 1px solid #fff;
}

body .gform_wrapper .gform_footer input.button:hover {
  background: #fff;
  color: #f26122;
  border: 1px solid #f26122;
}

#gform_wrapper_2 {
  width: 100%;
  max-width: 100%;
}

#gform_wrapper_2  input.large, #gform_wrapper_2  textarea.large {
  width: 100%
}

#gform_wrapper_3.gform_wrapper .gform_footer {
  padding-top: 0;
}

body #gform_wrapper_3.gform_wrapper .gform_footer input.button {
  background: #222;
}

body #gform_wrapper_3.gform_wrapper .gform_footer input.button:hover {
  background: #f26122;
  color: #fff;
}

#gform_wrapper_3.gform_wrapper .validation_error {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  border-color: #fff;
}

/*>== tables ======================== */


/*== Buttons ==========================*/
.button {
  font-weight: 300;
  letter-spacing: 2px;
  padding: 7px 12px 9px 12px;
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  margin-right: 4px;
}

.button:hover, .button:visited {
 color: #fff;
}

.button.orange {
  background: #f26122;
}

.button.white {
  background: #f26122;
  border: 1px solid #fff;
}

.button.green {
  background: #5fb246;
}

.button.orange:hover, .button.green:hover {
  background: #fff;
}

.shortcode-button {
    display: inline-block;
}

.shortcode-button a {
  font-weight: 300;
  letter-spacing: 2px;
  padding: 7px 12px 9px 12px;
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #fff;
  background: #f26122;
  margin-right: 4px;
  border: 1px solid #fff;
}

.shortcode-button a:hover, .shortcode-button.green a:hover {
  background: #fff;
}

.shortcode-button.orange a:hover {
  border: 1px solid #f26122;
}

.shortcode-button.green a:hover {
    border: 1px solid #5fb246;
    color: #5fb246;
}

.shortcode-button.green a {
    background: #5fb246;
}

.shortcode-button.white a {
    background: #fff;
    color: #f26122;
    border: 1px solid #f26122;
}

.shortcode-button.white a:hover {
  background: #f26122;
  color: #fff;
  border: 1px solid #f26122;
}



/*----------------------------------------------------------------*\
    $HEADER
\*----------------------------------------------------------------*/

.page-header {
  height: 70px;
  background: rgba(255,255,255,0.95);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.inner-header {
  position: relative;
}

.main-logo {
  background: url(../images/logo.svg);
  background-size: 185px 40px;
  width: 185px;
  height: 40px;
  position: relative;
  float: left;
  margin: 10px 0 0 0;
  text-indent: -9999em;
  z-index: 555;
}
  .main-logo a {
    display: block;
    width: 100%;
    height: 100%;
  }


  /*Mobile menu overides*/
  #mobile-menu .mm-list > li > a:hover {
    color: #f3f3f3;
  }



/*----------------------------------------------------------------*\
    $SIDEBAR STYLES
\*----------------------------------------------------------------*/

.widget {
  margin: 20px 0;
  padding: 0;
}
.widgettitle {
  border-bottom: 2px solid #444;
}


.secondary-content ul li {
  margin-bottom: 0;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.category-listing ul li {
  float: left;
  border-bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  padding: 0px 6px 1px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.category-listing ul li a {
  color: #fff;
  font-size: 12px;
  line-height: 1;
}

.category-listing ul li:hover {
    background: rgba(0, 0, 0, 0.35);
}

.category-listing ul li:hover a {
  color: #fff;
}

/*----------------------------------------------------------------*\
    $HOME PAGE
\*----------------------------------------------------------------*/

.slider-block {
  width: 100%;
  max-width: 1300px;
  margin: 20px auto;
  position: relative;
}

.slider-block img {
  display: block;
}

.slide-item {
  display: none;
}

.slide-item:first-of-type {
  display: block;
}

.slider-block img,
.slider-block .slide-item {
  width: 100%;
  height: auto;
}
.slide-item__wrap {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

.slide-item__text {
  bottom: 0;
  max-width: 940px;
}

.slide-title {
    color: #124a45;
    display: block;
    font-size: 2rem;
    line-height: 1.1;
    font-weight: 200;
}

.slide-text {
  font-size: 1.3rem;
    line-height: 1.1;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
}


.spager {
 margin-top: 30px;
  float: right;
  width: 40px;
  margin-right: 30px;
}

.spager a {
    border-radius: 14px;
    display: block;
    height: 12px;
    margin: 0 4px;
    text-indent: -9999px;
    width: 12px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.spager a.cycle-pager-active {
background: #ccc;
background: rgba(0, 0, 0, 0.25);
}

/*mobile Grid*/
.mobile-grid {
  display: block;
  width: 100%;
}

.mobile-grid .item .overlay {
  opacity: 1;
  background: none;
  padding: 0;
}

.mobile-grid .item .overlay-inner {
    position: relative;
    top: inherit;
    transform: none;
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    background: rgba(241,99,35,0.8);
}
.mobile-grid .item .overlay .overlay-inner span {
padding: 3px 10px;
font-size: 18px;
line-height: 1.2;
}

.mobile-grid .item.mobile-full .overlay .overlay-inner span {
  font-size: 22px;
}



.item.mobile-full {
  width: 100%;
  height: 300px;
}

.item.mobile-half {
  width: 50%;
}

/*CTA Section*/
.cta-section {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 400px;
}

.cta {
  padding-top: 20px;
}

.cta h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cta p {
  color: #124a45;
  line-height: 1.5;
  position: relative;
  height: auto;
  margin-bottom: 0;
}

.cta a {
  display: block;
  text-transform: uppercase;
  margin-top: 15px;
}

.cta p a {
  position: relative;
}

.cta h2 span.cta-icon, .cta h2  {
display:  inline-block;
vertical-align: top;
}



.cta span.cta-icon {
  font-size: 45px;
  margin-right: 10px;
}

.cta .iconlink {
  float: left;
}

.cta .cta-h2link {

  padding-left: 55px;
}

.cta1, .cta1 h2, .cta1 a, .cta1 a:hover {
  color: #f16323;
}

.cta2, .cta2 h2, .cta2 a, .cta2 a:hover {
  color: #0c80c3;
}
.cta3, .cta3 h2, .cta3 a, .cta3 a:hover {
  color: #9ace65;
}
.cta4, .cta4 h2, .cta4 a, .cta4 a:hover {
  color: #3abebc;
}

.cta-button {
  text-align: center;
  padding: 2px 0;
}


.cta1 .cta-button {
  border: 1px solid #f16323;
}
  .cta1 .cta-button:hover {
    background: #f16323;
    color: #fff ;
  }

.cta2 .cta-button {
  border: 1px solid #0c80c3;
}
.cta2 .cta-button:hover {
  background: #0c80c3;
  color: #fff ;
}


.cta3 .cta-button {
  border: 1px solid #9ace65;
}
.cta3 .cta-button:hover {
  background: #9ace65;
  color: #fff ;
}


.cta4 .cta-button {
  border: 1px solid #3abebc;
}
.cta4 .cta-button:hover {
  background: #3abebc;
  color: #fff ;
}


/*END CTA Section*/


/*----------------------------------------------------------------*\
    $INTERIOR PAGES
\*----------------------------------------------------------------*/
.page-title-wrap {
  margin-bottom: 50px;
  background-color: #f3f3f3;
  background-size: cover;
  background-position: center center;
}

.title-wrap-overlay {
  padding: 50px 0 40px 0;
  width: 100%;
  height: 100%;

}

.page-title-wrap h3 {
  display: block;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 38px;
  margin: auto auto 20px;
}

.post-break {
    display: inline-block;
    float: none;
    line-height: 0;
    margin: 40px auto 30px;
    max-width: 100% !important;
    min-width: 100% !important;
    position: relative;
}
/*
.full-bg-image {
    background-attachment: fixed;
    background-color: #222;
    background-position: center center;
    background-size: cover;
    display: block;
    margin-left: -99999px;
    margin-right: -99999px;
    padding-bottom: 60%;
    padding-left: 99999px;
    padding-right: 99999px;
    position: relative;
}*/

.parallax-wrap {
  margin: 50px auto;
  min-width: 100%;
  max-width: 100%;
  position: relative;
  display: none;
}

.parallax {
    background-attachment: fixed;
    background-color: #222;
    background-position: center center;
    background-size: cover;
    display: block;
/*    margin-left: -99999px;
    margin-right: -99999px;*/
    height: 400px;
/*    padding-left: 99999px;
    padding-right: 99999px;*/
    position: relative;
    overflow: hidden;
}

.page-template-pg-home-php .parallax {
  padding-bottom: 400px;
}
/*Blog Landing*/

.page-template-pg-bloghome-php .blog .wp-post-image, .archive .blog .wp-post-image {
  margin-bottom: 25px;
}

.page-template-pg-bloghome-php  .post-meta, .archive .post-meta {
font-size: 10px;
line-height: 12px;
margin-bottom: 0px;
margin-top: 5px;
float: left;
margin-right: 10px;
}

.page-template-pg-bloghome-php  .post-meta a, .archive .post-meta a {
margin-right: 5px;
}

.page-template-pg-bloghome-php  .post-meta a:after, .archive .post-meta a:after {
  content: "|";
  margin-left: 5px;
}


.page-template-pg-bloghome-php .blog, .archive .blog {
margin-bottom: 50px;
padding-bottom: 30px;
border-bottom: 1px solid #DCDCDC;
}

.post-date {
float: left;
font-size: 10px;
line-height: 12px;
margin-right: 5px;
margin-top: 5px;
}

.post-date:after {
  content: "|";
  margin-left: 5px;
}

.day {
  font-size: 10px;
  margin-right: 10px;
  line-height: 1;
  text-align: left;
  display: inline;
  color : #999;
}

.month-year {
  font-size: 10px;
  line-height: 10px;
  display: inline;
  text-align: center;
  color : #999;
}

.excerpt-read-more {
  display: block;
  margin-top: 15px;
}

.category-list {
  display: block;
  margin-bottom: 10px;
  clear: both;
  padding-top: 10px;
}

.category-list a {
color: #FFF;
background: rgba(0, 0, 0, 0.25);
padding: 4px 6px;
font-size: 11px;
margin-right: 2px;
float: left;
line-height: 12px;
}

  .category-list a:hover {
    background: rgba(0, 0, 0, 0.35);
    color: #fff;
  }

/*END Blog Landing*/

/*Blog Single*/

.post-banner {
  background-position: top center;
  background-size: cover;
  height: 500px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.single .post-date-single {
  color: #bbb;
  margin-top: 40px;
  font-size: 14px;
  margin-bottom: 5px;
}

.single .post-date-single .icon-ribbon {
  margin-right: 5px;
}

.single .navigation {
  margin-top: 55px;
  font-size: 60px;
  position: relative;
}

.single .navigation > div {
  float: left;
  position: relative;
  width: 100px;
}

.single .navigation .lable {
  position: absolute;
  color: #bbb;
  font-size: 12px;
  bottom: -20px;
  visibility: hidden;
}


.single .navigation span {
  color: #bbb;
}

.single .navigation a:hover span, .single .navigation a:hover .lable {
  color: #888;
  visibility: visible;
}

.single .article-header {
  margin-bottom: 40px;
}

.blog-subtittle {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
  color: #888;
}

.article-footer {
  margin-bottom: 20px;
}
/*END Blog Single*/


/*Blog Sidebar*/
.widget, .featured-posts  {
  margin-bottom: 40px;
}

.sidebar-title, .widgettitle {
  background: #f2f2f2;
  display: block;
  padding: 10px 10px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  font-weight: 700;
  border-bottom:  2px solid #444;
  margin-bottom: 10px;
}

.sidebar-blog {
  padding: 15px 0;
  border-bottom: 1px solid #f2f2f2;
}

.sidebar-blog-img {
float: left;

}

.sidebar-blog h6 {
padding-left: 60px;
font-size: 14px;
}

/*End Blog Sidebar*/

/*Related Posts*/

.relatedposts {
  text-align: center;
}

.relatedposts img {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  border: 1px solid #eee;
}

.relatedposts h5 {
  vertical-align: middle;
  display: inline-block;
  font-size: 1.75rem;
  margin-bottom: 0;
}


/*Portfolio Home*/

.page-template-pg-portfolio-php .title-wrap-overlay {
  background: #fff;
}

.button-group .button {
  background-color: #fff;
  border: 1px solid #fff;
  color: #777;
}

  .button-group .button:hover, .button-group .is-checked {
    border-color: #777;
  }

/*End Portfolio Home*/

/*Portfolio Single*/

.portfolio-aside h5 {
 margin-bottom: 5px;
}

.single-portfolio_type .single-title  {
  margin-top: 40px;
}

.entry-content .portfolio-listing-cats li {
  list-style: none;
    padding-left: 0;
}

.portfolio-listing-cats li::before {
  display: none;

}

/*End Portfolio Single*/

/*Review Part*/

.reviewSection {
  background: #f3f3f3;
}

.reviewSection p {
  line-height: 1.2;
}

.reviewSection .container {
  padding: 20px 0;
}

.ratingImage {
  width: 165px;
  height: 165px;
  border-radius: 50%;
}

.reviewSection h2 {
  display: inline-block;
  margin-bottom: 4px;
}

.rating {
  width: 95px;
  height: 19px;
  display: inline-block;
  margin-left: 30px;
}
.stars4 {
background: url('../images/4star.png');
  background-size: 95px 19px;
}

.customer-info {
  line-height: 1.1;
  font-style: italic;
}

/*----------------------------------------------------------------*\
    $FOOTER
\*----------------------------------------------------------------*/

.lower-cta {
  display: block;
  background: #F16323;
  height: 85px;
  margin-top: 70px;
  text-align: center;
}

.lower-cta .container {
  -webkit-transform-style: preserve-3d;
 -moz-transform-style: preserve-3d;
 transform-style: preserve-3d;
 height: 100%;
}

.lower-cta a.button {
  text-transform: inherit;
  font-weight: 400;
  font-size: 24px;
  padding: 8px 20px;
  position: relative;
 top: 50%;
 transform: translateY(-50%);
}

  .lower-cta a.button:hover {
    background: #fff;
    color: #F16323;
  }

.page-footer {
  background: #222;
  min-height: 220px;
  padding-top: 40px;
  color: #fff;
  position: relative;
   max-width: 100% !important;
  min-width: 100% !important;
}

.copyright {
font-size: 14px;
margin-top: 6px;
}

.testimonial {
font-size: 12px;
width: auto;
position: relative;
bottom: 100%;
margin: 0px 0px 26px;
padding: 12px;
display: block;
text-decoration: none;
text-shadow: none;
line-height: 1.5;
opacity: 1;
z-index: 1;
left: auto;
transition: all 0.5s linear 0s;
background: rgba(0, 0, 0, 0.25);
}

.testimonial:after {
content: "";
position: absolute !important;
bottom: -14px;
z-index: 100;
border-width: 0px 0px 14px 14px;
border-style: solid;
border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) transparent;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
width: 100%;
left: 0px;
}

.page-footer h3 {
  margin-bottom: 25px;
padding-bottom: 30px;
border-bottom: 1px solid #444;
font-size: 13px;
text-transform: uppercase;
color: #fff;
font-weight: 700;
}

  .footer-services a {
    margin-bottom: 25px;
    float: left;
    width: 33%;
  }

.footer-services a span, .footer-services a span i {
  font-size: 47px;
  color: #f0f0f0;
}

  .footer-services a span {
    display: block;
    width: 50px;
    margin: 0 auto;
    display: block;
  }

.footer-services a:nth-of-type(3n+1) span:hover, .footer-services a:nth-of-type(3n+1) span:hover i {
    color: #F16323;
}

.footer-services a:nth-of-type(3n+2) span:hover, .footer-services a:nth-of-type(3n+2) span:hover i {
      color: #0C80C3;
}

.footer-services a:nth-of-type(3n+3) span:hover, .footer-services a:nth-of-type(3n+3) span:hover i {
      color: #9ACE65;
}


.lower-footer {
  margin-top: 30px;
  padding: 7px 0 10px;
  background: #323232;
}

.lower-footer .col-md-6 {
  text-align: center;
}

.social-icons {
  display: inline-block;
  padding-top: 5px;
  vertical-align: middle;
}

.phone-number {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 15px;
  vertical-align: middle;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

.social-icons a {
  color: #fff;
  background: #0C80C3;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
}

  .social-icons a:hover {
    animation: bounce 1s;
  }
/*----------------------------------------------------------------*\
    $POST & WP GENERATED STYLING
\*----------------------------------------------------------------*/

/*>== images & video ========================= */

/* resize images to fit the main content area. */
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  width: auto;  /* fix for IE, otherwise it's all misformed */
  max-width: 100%;
  height: auto;
}


/*>== caption styling ========================= */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 0px;
}
.wp-caption img {
  margin: 0;
  max-width: 100%;
  width: 100%;
}
.wp-caption .wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: left;
  padding: 10px;
}


/*>== galleries ============================== */
figure.gallery-item { float: left; margin: 0 1em 1em 0; position: relative; }
figure.gallery-item a img { border: 4px solid #bbb; border-radius: 6px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
figure.gallery-item a:hover img { border-color: #ccc; }
figure.gallery-item figcaption { display: none; }



/*>== post & comment navigation ========================== */

/* post navigation */
.wp-prev-next {
  margin: 20px 0 20px 0;
}
  .wp-prev-next .prev-link {
    float: left;
  }
  .wp-prev-next .next-link {
    float: right;
  }
  .wp-prev-next .nav-divider {
    float: left;
  }

/* comment navigation */
.comments-nav {
  clear: both;
  margin: 0 0 1.5em 0;
}
  .comments-nav:after {
    content: " \00bb";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
  }
  .comments-nav .comments-previous {
    float: left;
    width: 50%;
  }
  .comments-nav .comments-next {
    float: right;
    width: 50%;
    text-align: right;
  }
  .comments-nav .comments-next a {
    float: right;
  }



/*>== post comments & response form ====================== */
.comments-title,
.comment-form-title {
  margin: 0 0 0.5em;
}

.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.734em 10px;
}
  .commentlist li:last-child {
    margin-bottom: 0;
  }
  .commentlist li ul.children {
    margin: 0;
  }
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
.commentlist .odd {
  background: #eeeeee;
}
.commentlist .even {
  background: #fefefe;
}
.commentlist .vcard {
  margin-left: 50px;
}
  .commentlist .vcard cite.fn {
    font-weight: 700;
    font-style: normal;
  }
  .commentlist .vcard time {
    float: right;
  }
    .commentlist .vcard time a {
      color: #999999;
      text-decoration: none;
    }
      .commentlist .vcard time a:hover {
        text-decoration: underline;
      }
  .commentlist .vcard img.avatar {
    position: absolute;
    left: 10px;
    padding: 2px;
    border: 1px solid #cecece;
    background: white;
  }

.comment_content {
  margin-left: 50px;
}
  .comment_content p {
    margin: 0.734em 0 1.5em;
    font-size: 1em;
    line-height: 1.5em;
  }

.comment-reply-link {
  text-decoration: none;
  float: right;
  background: #4598bb;
  padding: 3px 5px;
  color: white;
  opacity: 0.65;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.9em;
}
  .comment-reply-link:hover, .comment-reply-link:focus {
    opacity: 1;
  }

.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;
}
  .respond-form form {
    margin: 0.75em 0;
  }
    .respond-form .commentform li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.734em;
      padding-top: 0;
    }
      .respond-form form li label,
      .respond-form form li small {
        display: none;
      }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url],
    .respond-form form textarea {
      padding: 3px 6px;
      background: #efefef;
      border: 2px solid #cecece;
      line-height: 1.5em;
    }
      .respond-form form input[type=text]:focus,
      .respond-form form input[type=email]:focus,
      .respond-form form input[type=url]:focus,
      .respond-form form textarea:focus {
        background: white;
      }
      .respond-form form input[type=text]:invalid,
      .respond-form form input[type=email]:invalid,
      .respond-form form input[type=url]:invalid,
      .respond-form form textarea:invalid {
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        box-shadow: none;
      }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url] {
      max-width: 700px;
      width: 100%;
    }
    .respond-form form textarea {
      resize: none;
      max-width: 700px;
      width: 100%;
      height: 150px;
    }
    .respond .submit {
      border: none;
      text-decoration: none;
      background: #4598bb;
      padding: 6px 10px;
      color: white;
      opacity: 0.65;
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 0.9em;
    }
      .respond .submit:hover, .respond .submit:focus {
        opacity: 1;
      }


/* ---- isotope ---- */

.page-template-pg-home .isotope {
display: none;
}

/* clear fix */
.isotope:after, .isotope-port:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */
.item,
.grid-sizer {
  width: 20%;
}

.isotope-port .item .overlay {
  text-align: center;
  padding: 0;
}

.item .overlay span.isotope-port-title {
  padding: 0 20px;
  margin-top: 40px;
  font-size: 18px;
  border: 1px solid #fff;
  display: inline-block;
}

.item:hover .overlay span.isotope-port-title {
  font-size: 18px;
}

.portfolio-cats {
    background: #F16323;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    opacity: 0;
}

.page-template-pg-portfolio .item:hover .portfolio-cats {
  opacity: 1;
}

.portfolio-cats ul {
  margin:0;
  padding: 10px 20px;
  text-align: center;
}

.portfolio-cats ul li {
  color: #fff;
  display: inline-block;
  padding: 0 2px;
}

.portfolio-cats ul li::after {
  content: "~";
}

.portfolio-cats ul li:last-of-type::after {
  content: "";
}

.portfolio-cats ul li:before {
  display: none;
}

.isotope-port .item,.grid-sizer-port {
  width: 100% ;
  height: 300px;
}

.item {
  float: left;
  margin-bottom: 2px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  height: 200px;
  image-rendering: optimizeQuality;
   -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.item.width2 {
  width: 80%;
  height: 301px;
}



.item.small {
  width: 20%;
  height: 99px;
}

.item .overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 200ms ease-in;
  padding: 15px;
  overflow: hidden;
}

.item:hover .overlay {
  opacity: 1;
}

.item .overlay span {
  font-size: 2rem;
}

.item:hover .overlay span {
  font-size: 40px;
  font-size: 2rem;
   transition: all 333ms ease;
}

.item.reg .overlay span {
  font-size: 20px;
  transition: none;
}

.item.reg:hover .overlay span {
  font-size: 20px;
}

.item.small .overlay span {
  font-size: 20px;
}

.item.small:hover .overlay span {
  font-size: 20px;
}

.item a.overlay span {
  /*font-size: 0;*/
  color: #f3f3f3;
  text-align: center;
  display: block;

  font-weight: 700;
}

.item .overlay-inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.item .overlay-inner img {
  display: block;
  margin: 0 auto 10px auto;
}


/*magnific overides*/

.white-popup-block {
  background: #fff;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  min-height: 200px;
  position: relative;
  padding: 20px 30px;
}

/* ==|== non-semantic helper classes ======================================== */
.ir { border:0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
