/*----------------------------------------------------------------
Stylesheet: Additional Media Query Stylesheet*/
/*----------------------------------------------------------------*/

/*-- LARGE VIEWING SIZE --------------------------------------------------------- */

@media only screen and (min-width: 1200px) {
/******************************************************************
Stylesheet: Super Large Monitor Stylesheet
******************************************************************/


.item {
  height: 332px;
  margin-bottom: 4px;
    border-right: 2px solid #fff;
  border-left: 2px solid #fff;
}

.isotope-port .item {
  height: 400px;
}


.item.width2 {
  height: 500px;
  width: 40%;
}

.item.small {
  height: 164px;
  width: 20%;
}

.item,
.grid-sizer {
  width: 20%;
}

.isotope-port .item,.grid-sizer-port {
  width: 33.33% ;
    height: 350px;
}

/*Blog Listing*/
.post-date {
  width: 90px;
  height: 90px;
  border-radius: 90px;
}

.day {
  font-size: 40px;
  font-size: 2.5rem;
}

.month-year {
  font-size: 16px;
}
/*End Blog Listing*/


} /* END LARGE VIEWING SIZE */


/*-- 1.5X+ RESOLUTION DEVICES --------------------------------------------------------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
/******************************************************************
Stylesheet: Retina Screens & Devices Stylesheet
******************************************************************/



} /* 1.5X+ RESOLUTION DEVICES */
