.browserwarning { margin: 0; background: #ccc; border-top: 2px solid #999; border-bottom: 2px solid #999; color: black; padding: 0.666em 0; text-align:center; }
	.browserwarning a { color: blue; }
		.browserwarning a:hover { color: teal;}

/* 
.no-rgba .slide-overlay { 
	background:transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#AA000000,endColorstr=#AA000000);
	zoom: 1; 
} 
*/